<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">


<listeners>
<listener class-name="com.qa.ExtentReportListener.ExtentReportListener"></listener>
</listeners>

  <test thread-count="5" name="Test1">
    <classes>
      <class name="com.tomvc.qa.testcases.Addition_todos_test"/>
      <class name="com.tomvc.qa.testcases.Reactpagetest"/>
      <class name="com.tomvc.qa.testcases.Validation_site"/>
      <class name="com.tomvc.qa.testcases.Validation_tab"/>
      <class name="com.tomvc.qa.testcases.Validation_tab"/>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite1 -->
